<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express Ads Server</title>
    <%- stylesHTML %>
    <link rel="stylesheet" href="<%= config.adminPath %>/public/page-style.css">
    <%- scriptsHTML %>
  </head>
  <body class="eas-page">
  	<header>
  		<div>Express Ads Server <%= version %></div>
  	</header>
  	<%- adminUI() %>
  </body>
</html>